/*--------footer starts here----------------*/


.footer-section{
    color: white;
    background-color: black;
}

.footer-p1{
    font-size: 35px;
    font-weight: 700;
}

#email-footer{
    border-radius: 0%;
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: 	#302a4f;
}

#email-footer::placeholder{
    color: white;
}
#footer-sub{
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #f14b59;
}

.footer-p2{
    font-size: 45px;
    font-weight: 700;
}

.footer-social{
    padding: 20px 25px;
    
}

.footer-social i.fa-facebook{
    cursor: pointer;
    border-radius: 50%;
    padding: 15px 18px;
    background-color: #3b5998;
    transition: transform 1s;
}

.footer-social i.fa-facebook:hover{
    transform: rotate(360deg);
}

.footer-social i.fa-google{
    cursor: pointer;
    border-radius: 50%;
    padding: 15px 16px;
    background-color: #db4a39;
    transition: transform 1s;
}


.footer-social i.fa-google:hover{
    transform: rotate(360deg);
}

.footer-social i.fa-instagram{
    cursor: pointer;
    border-radius: 50%;
    padding: 15px 16px;
    background-color: #DD2A7B;
    transition: transform 1s;
}

.footer-social i.fa-instagram:hover{
    transform: rotate(360deg);
}

.footer-social i.fa-twitter{
    cursor: pointer;
    border-radius: 50%;
    padding: 15px 16px;
    background-color: #00acee ;
    transition: transform 1s;
}

.footer-social i.fa-twitter:hover{
    transform: rotate(360deg);
}

.footer-p3{
    text-align: center;
}


/*----------------------------footer ends here--------------------------------*/

.codrops-top{
	line-height: 24px;
	font-size: 11px;
  	width: 100%;
	background: #000;
	opacity: 0.9;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}

.container-1{
	position: relative;

}



@media screen and (min-width: 601px) {
    #brandname {
      margin-left: 50px;
    }
  
   
  
    
  
    #dropdownMenuLink3{
        margin-left: 50px;
    }
  
    
  }